<div class="container">
    <div class="row d-flex justify-content-between mt-5">
        <%= render 'list' %>
        <div class="col-7 float-right">
            <h2>Users</h2>
            <table class="table">
                <tr>
                    <th scope="col">image</th>
                    <th scope="col">name</th>
                </tr>
                <% @users.each do |user| %>
                <tr>
                    <td><%= image_tag 'no_image.jpg' %></td>
                    <td><%= user.name %></td>
                    <td><%= link_to "Show", user_path(user.id) %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>