<div class="container">
    <div class="row d-flex justify-content-between mt-5">
        <%= render 'list' %>
        <div class="col-7 float-right">
            <h2>Books</h2>
            <table class="table">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Opinion</th>
                    <th colspan="3"></th>
                </tr>
                <% @books.each do |book| %>
                <tr>
                    <td><%= link_to book.title, book_path(book.id) %></td>
                    <td><%= book.body %></td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>