<div class="container mx-auto h1 mt-3" style="width: 35%;">welcome to
    <i class="fa-solid fa-book">Bookers ! !</i>
</div>
<div class="text1 mx-auto px-3" style="width: 35%;">In
    <i class="fa-solid fa-book">Bookers,</i>
</div>
<div class="text2 mx-auto p-3 " style="width: 35%;">you can share and exchange your opinions , inpressions , and emotions</div>
<div class="text2 mx-auto px-3 " style="width: 35%;">about various books!</div>

<div class="btn btn-info btn-sm my-4 mx-auto d-block" style="width: 25%;" role="button">
    <%= link_to "Log in", new_user_session_path, class: 'nav-link text-white' %>
</div>
<div class="btn btn-success btn-sm my-4 mx-auto d-block" style="width: 25%;" role="button">
    <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-white' %>
</div>