// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table{
    border-collapse: collapse;
    width: 100%;
}
.th{
    border-top:1px #808080 solid;
    border-bottom:1px #808080 solid;
}